<plugin
  class="com.oxygenxml.translation.support.TranslationPackageBuilderPlugin"
  classLoaderType="preferOxygenResources"
  description="com.oxygenxml.translation.support"
  id="com.oxygenxml.translation.support"
  name="DITA Translation Package Builder"
  vendor="Syncro Soft"
  version="${project.version}">
  <runtime>
    <librariesFolder
      name="lib"/>
    <library
      name="target/classes"/>
    <librariesFolder
      name="target/lib"/>
  </runtime>
  <extension
    class="com.oxygenxml.translation.support.TranslationPackageBuilderExtension"
    type="WorkspaceAccess"/>
</plugin>
